name: "PyAnnote-Api-Toolkit"

services:
  mongodb:
    build: ./backend/mongo
    image: mongo:8.0
    ports:
      - "27017:27017" # To keep only if you want to connect to mongo from local
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
    restart: unless-stopped
    networks:
      - mongo-network

  pyannote-wrapper:
    build: ./backend/pyannote-wrapper
    environment:
      API_HOST: ${HOST}
      API_PORT: ${DOCKER_PORT_WRAPPER_PYANNOTE}
      TOKEN_PYANNOTE: ${TOKEN_PYANNOTE}
      WEBHOOK_URI: https://${NGROK_SUBDOMAIN?NGROK_SUBDOMAIN must be set!}${WEBHOOK_ENDPOINT?WEBHOOK_ENDPOINT must be set!}
    #ports:
    #  - "5000:5000"
    networks:
      - backend-network

  mongo-gateway:
    build: ./backend/mongo-gateway
    #ports:
    #  - "5002:5002"
    environment:
      API_HOST: ${HOST}
      API_PORT: ${DOCKER_PORT_MONGO_GATEWAY}
      MONGO_URI: mongodb://mongodb:27017/
      MONGO_DATABASE: ${MONGO_DATABASE}
    depends_on: 
      - mongodb
    networks:
      - backend-network
      - mongo-network

  webhook:
    build: ./backend/webhook
    #ports:
    #  - "5003:5003"
    environment:
      API_HOST: ${HOST}
      API_PORT: ${DOCKER_PORT_WEBHOOK}
      PYANNOTEAI_WEBHOOK_SIGNING_SECRET: ${PYANNOTEAI_WEBHOOK_SIGNING_SECRET?PYANNOTEAI_WEBHOOK_SIGNING_SECRET must be set!}
      API_SERVER_HOST: api-server
      API_SERVER_PORT: ${DOCKER_PORT_SERVER}
      #NGROK_SUBDOMAIN: ${NGROK_SUBDOMAIN}
      #NGROK_AUTH_TOKEN: ${NGROK_AUTH_TOKEN}
    networks:
      - webhook-network
      - backend-network

  ngrok:
    image: ngrok/ngrok:latest
    #ports:
    #  - "4040:4040"
    command:
      - "http"
      - "http://webhook:${DOCKER_PORT_WEBHOOK}" 
    environment:
      NGROK_AUTHTOKEN: ${NGROK_AUTH_TOKEN}
    depends_on:
      - webhook
    networks:
      - webhook-network

  api-server:
    build: ./backend/api-server
    #ports:
    #  - "5000:5000"
    environment:
      API_HOST: ${HOST}
      API_PORT: ${DOCKER_PORT_SERVER}
      PYANNOTE_WRAPPER_HOST: pyannote-wrapper
      PYANNOTE_WRAPPER_PORT: ${DOCKER_PORT_WRAPPER_PYANNOTE}
      MONGO_GATEWAY_HOST: mongo-gateway
      MONGO_GATEWAY_PORT: ${DOCKER_PORT_MONGO_GATEWAY}
    depends_on:
      - mongodb
      - pyannote-wrapper
      - mongo-gateway
      - webhook
    networks:
      - frontend-network
      - backend-network
      - webhook-network

  frontend:
    build: ./frontend
    ports:
      - "8080:80"
    depends_on:
     - mongodb
     - pyannote-wrapper
     - mongo-gateway
     - api-server
     - webhook
    networks:
      - frontend-network


volumes:
  mongo-data:
    name: "mongo-data"
  mongo-config:
    name: "mongo-config"

networks:
  frontend-network:
    driver: bridge
  backend-network:
    driver: bridge
  mongo-network:
    driver: bridge
  webhook-network:
    driver: bridge
