name: "PyAnnote-Api-Toolkit"

services:
  mongodb:
    build: ./mongo
    image: mongo:8.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
      - mongo-config:/data/configdb
    environment:
      MONGO_INITDB_DATABASE: pyannote_api_infos
    restart: unless-stopped
    networks:
      - my-network

  api:
    build: ./api
    environment:
      MONGO_URI: mongodb://mongodb:27017/
      API_HOST: ${API_HOST}
      API_PORT: ${API_PORT}
      TOKEN_PYANNOTE: ${TOKEN_PYANNOTE}
      MONGO_DATABASE: ${MONGO_DATABASE}
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    networks:
      - my-network

volumes:
  mongo-data:
    name: "mongo-data"
  mongo-config:
    name: "mongo-config"

networks:
  my-network:
    driver: bridge
