name: "PyAnnote-Api-Toolkit"

services:
  mongodb:
    build: ./mongo
    image: mongo:8.0-custom
    container_name: mongo_database
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_DATABASE: pyannote_api_infos
    restart: unless-stopped

volumes:
  mongo-data: